body {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
.progress-bar {
  height: 8px;
  border-radius: 4px;
}
.interest-card:hover {
  border-color: #00d1b2;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.icon {
  border-radius: 15px;
}
